db_data
docker-compose.yml
node_modules
.idea
.env
/www/public/scss/dist/main.css
public/sitemap.xml
public/img/uploadedImages/*
!public/img/uploadedImages
!/public/img/uploadedImages/banner.jpg
!/public/img/uploadedImages/logo.png
!/public/img/uploadedImages/favicon.ico
