*{
	box-sizing: border-box;
}

body{
	color: $text-color;
	font-family: $font1;
	background-color: $light-grey;
	margin: 0;
}

h1, h2, h3, h4, h5, h6{
	font-family: $font2;
}

h1{
	font-size: rem(24);
}

h2{
	font-size: rem(16);
}

p{
	line-height: 1.5em;
}

.container{
	max-width: 992px;
	margin: auto;
}