* {
    box-sizing: border-box;
}

body {
    font-family: $font1;
    color: $text-color;
    background-color: $light-grey;
    margin: 0;
}

p {
    line-height: 1.5em;
}

h1, h2, h3, h4 {
    font-family: $font2;
}

h1 {
    font-size: rem(24);
}

h2 {
    font-size: rem(16);
}


/* ------------------------------------------------------------------------------------------------- */

.container {
    // max-width: $container-width;
    // margin: $container-margin;
    overflow: hidden;
}

.form-select {
    height: calc(1.5em + 0.75rem + rem(2));
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: $light;
    background-clip: padding-box;
    border: rem(1) solid #d1d3e2;
    border-radius: 0.35rem;
}

div.ligne {
    margin: auto;
    width: 65%;
    border-bottom:rem(1) solid black;
}

@for $i from 1 through 5 {
    .mt-#{$i} {
        margin-top: #{$i}rem;
    }
  }

.text-center {
    text-align: center;
}

.width-50 {
    width: 50%;
}
