* {
    box-sizing: border-box;
}

body {
    font-family: $font1;
    color: $text-color;
    background-color: $light-grey;
    margin: 0;
}

p {
    line-height: 1.5em;
}

h1, h2, h3, h4 {
    font-family: $font2;
}

h1 {
    font-size: rem(24);
}

h2 {
    font-size: rem(16);
}


/* ------------------------------------------------------------------------------------------------- */

.container {
    // max-width: $container-width;
    // margin: $container-margin;
    overflow: hidden;
}

.form-select {
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: $light;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: 0.35rem;
}

.small-menu {
    background-color: $grey;
    padding: 22px 22px!important;
    margin: 22px 22px!important;    
}
.small-menu span {
    margin: auto;
}