$light-grey: #F9F9F9;
$text-color: #444;
$white: #fff;
$green: green;
$light: #f8f9fc;
$red: red;
$grey: #818181;
$black: #000;
$black-transparent: rgba(0, 0, 0, 0.6);

$nb-column-grid: 12;
$gouttiere: 10;

$container-margin: auto;
$container-width: 900px;

$desktop-breakpoint: 960;

$sidebar-color: #402082;

$article-color-purple: #E7E0F4;
$article-color-light_purple: #E7C9F3;
$article-color-grey: #F0F0F0;
$article-color-white: #FFFFFF;

$dashboard-item-border-color: #F1F1F1;