$light-grey: #f2f2f2;
$text-color: #444;
$white: #fff;
$green: green;
$red: red;
$black-transparent: rgba(0, 0, 0, 0.6);


$nb-column-grid: 12;
$gouttiere: 10;


$container-margin: auto;
$container-width: 900px;

$desktop-breakpoint: 960;