.dashboard-item {
    transition: all 0.5s;
    min-height: rem(100);
    box-shadow: 1px 1px 1px $dashboard-item-border-color, -1px -1px 1px $dashboard-item-border-color;
    border-radius: 3px;
    
    &:hover {
        transform: scale(1.08);
        transform-origin: center center;
    }
}

#graph-CA {
    background-color: $article-color-purple;
}
#graph-visiteurs{
    background-color: $article-color-white;
}
#graph-new-clients {
    background-color: $article-color-grey;
}