.dropdown {
    position: relative;
    display: inline-block;
    
    &-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: rem(215);
        padding: rem(8) rem(12);
        z-index: 1;
        right: 0;

        & a {
            text-align: left;
            color: black;
            padding: rem(12) rem(16);
            text-decoration: none;
            display: block;

            &:hover {
                background-color: $white;
            }
        }
    }
    &:hover &-content {
        display: block;
    }
}

.dropbtn {
    border: none;
    cursor: pointer;
}