.bg-white {
    background-color: $article-color-white;
}

.bg-light {
    background-color: $light!important;
}

.bg-grey {
    background-color: $article-color-grey;
}

.bg-purple {
    background-color: $article-color-purple;
}

.padding-0 {
    padding: 0!important;
}
.padding-right-0 {
    padding-right: 0!important;
}
.padding-left-0 {
    padding-left: 0!important;
}