.bg-white {
    background-color: $white;
}

.bg-light {
    background-color: $light!important;
}

.bg-light_purple {
    background-color: $article-color-light_purple;
}

.bg-purple {
    background-color: $article-color-purple;
}

.padding-0 {
    padding: 0!important;
}
.padding-right-0 {
    padding-right: 0!important;
}