.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; 
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
    height: 4rem;
}

.navbar--fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navbar .navbar-back{
    display: flex;
    align-items: center;
}

.navbar .navbar-back .computer {
    display: flex;
    align-items: center;
    margin-left: 25px;
    text-decoration: none;
    color: $black;
}

.navbar .navbar-back .computer span {
    margin-left: 10px;
}


/* Front */
.navbar .navbar-front a {
    text-decoration: none;
    letter-spacing: rem(2);
    color: $black;
    padding: rem(10);
}

.navbar .burger {
    padding-right: rem(15);
    font-size: rem(35);
    cursor:pointer
}

.navbar .dropdown-front {
    display: none;
}

.navbar-front{
    display: none;
}


.navbar-front-mobile {
    display: flex;
    flex-direction : column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .navbar-front-mobile a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: $grey;
    display: block;
    transition: 0.3s;
  }
  
  .navbar-front-mobile a:hover {
    color: #f1f1f1;
  }
  
  .navbar-front-mobile .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  @media screen and (min-width: 960px) {
    .navbar .dropdown-front {
        display: block;
    }
    .navbar .burger {
        display: none;
    }

    .navbar-front{
        display: block;
    }

    .navbar-front a:hover{
        color: $grey;
    }
  }
