.admin-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-collapse : collapse;

    &-bordered, th, td {
        border: 1px solid #E7E7E7;
        padding: 8px;
    }

    & tr {
        font-size: 14px;
        line-height: 1.42857143;
        color: #333;
        text-align: left;

        & input[type="text"] {
            font-size: 14px;
            line-height: 1.42857143;
            color: #333;
            text-align: left;
            width: 100%;
            border: none;
        }
    }
}