.pageBuilder-editor-container {
    width: 100%;
    height: auto;
    min-height: rem(100);
    // display: inline-block;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 0 rem(10) rem(50) rem(10);
}

.ce-block__content {
    margin: 0 rem(50) 0 rem(50);
    max-width: none;
    width: auto;
    height: auto;
}
.ce-toolbar__plus {
    transform: none;
    left: 0;
}
.ce-toolbar__actions {
    // transform: none;
    right: 0;
}

.ce-toolbar__content {
    max-width: none;
    width: 100%;
    margin: 0;
}

.ce-toolbar {
    width: 100%;
}
.codex-editor {
    width: 100%;
}

.ce-toolbox {
    left: rem(30);
}